html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ----------------------- */
:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-black: #000;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 13, 110, 253;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-primary-text-emphasis: #052c65;
  --bs-primary-text: rgb(116, 81, 15);
  --bs-secondary-text-emphasis: #2b2f32;
  --bs-success-text-emphasis: #0a3622;
  --bs-info-text-emphasis: #055160;
  --bs-warning-text-emphasis: #664d03;
  --bs-danger-text-emphasis: #58151c;
  --bs-light-text-emphasis: #495057;
  --bs-dark-text-emphasis: #495057;
  --bs-primary-bg-subtle: #cfe2ff;
  --bs-secondary-bg-subtle: #e2e3e5;
  --bs-success-bg-subtle: #d1e7dd;
  --bs-info-bg-subtle: #cff4fc;
  --bs-warning-bg-subtle: #fff3cd;
  --bs-danger-bg-subtle: #f8d7da;
  --bs-light-bg-subtle: #fcfcfd;
  --bs-dark-bg-subtle: #ced4da;
  --bs-primary-border-subtle: #9ec5fe;
  --bs-secondary-border-subtle: #c4c8cb;
  --bs-success-border-subtle: #a3cfbb;
  --bs-info-border-subtle: #9eeaf9;
  --bs-warning-border-subtle: #ffe69c;
  --bs-danger-border-subtle: #f1aeb5;
  --bs-light-border-subtle: #e9ecef;
  --bs-dark-border-subtle: #adb5bd;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size-kecil: 14px;
  --bs-body-font-size-sedang: 16px;
  --bs-body-font-size-besar: 18px;
  --bs-body-font-judul: 28px;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg: #fff;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-emphasis-color: #000;
  --bs-emphasis-color-rgb: 0, 0, 0;
  --bs-secondary-color: rgba(33, 37, 41, 0.75);
  --bs-secondary-color-rgb: 33, 37, 41;
  --bs-secondary-bg: #e9ecef;
  --bs-secondary-bg-rgb: 233, 236, 239;
  --bs-tertiary-color: rgba(33, 37, 41, 0.5);
  --bs-tertiary-color-rgb: 33, 37, 41;
  --bs-tertiary-bg: #f8f9fa;
  --bs-tertiary-bg-rgb: 248, 249, 250;
  --bs-heading-color: inherit;
  --bs-link-color: #0d6efd;
  --bs-link-color-rgb: 13, 110, 253;
  --bs-link-decoration: underline;
  --bs-link-hover-color: #0a58ca;
  --bs-link-hover-color-rgb: 10, 88, 202;
  --bs-code-color: #d63384;
  --bs-highlight-color: #212529;
  --bs-highlight-bg: #fff3cd;
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-border-color: #dee2e6;
  --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
  --bs-border-radius: 6px;
  --bs-border-radius-sm: 4px; 
  --bs-border-radius-lg: 8px; 
  --bs-border-radius-xl: 16px; 
  --bs-border-radius-xxl: 32px;
  --bs-border-radius-2xl: var(--bs-border-radius-xxl);
  --bs-border-radius-pill: 800px;
  --bs-box-shadow: 0px 0px 11px -3px rgba(0, 0, 0, 0.187);
  --bs-box-shadow-sm: 0 2px 4px rgba(0, 0, 0, 0.075);
  --bs-box-shadow-lg: 0 16px 48px rgba(0, 0, 0, 0.175); 
  --bs-box-shadow-inset: inset 0 16px 32px rgba(0, 0, 0, 0.075); 
  --bs-focus-ring-width: 4px; 
  --bs-focus-ring-opacity: 0.25;
  --bs-focus-ring-color: rgba(13, 110, 253, 0.25);
  --bs-form-valid-color: #198754;
  --bs-form-valid-border-color: #198754;
  --bs-form-invalid-color: #dc3545;
  --bs-form-invalid-border-color: #dc3545;
  --bs-height: 600px;
}

.container_local,
.container_local-xxl,
.container_local-xl,
.container_local-lg,
.container_local-md,
.container_local-sm {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  /* padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5); */
  margin-right: auto;
  margin-left: auto;
}

/* @media (min-width: 576px) {
  .container_local-sm,
  .container_local {
    max-width: 540px;
  }
} */
@media (min-width: 768px) {
  .container_local-md,
  .container_local-sm,
  .container_local {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container_local-lg,
  .container_local-md,
  .container_local-sm,
  .container_local {
    max-width: 960px;
  }
}
@media (min-width: 960px) {
  .container_local-xl,
  .container_local-lg,
  .container_local-md,
  .container_local-sm,
  .container_local {
    max-width: 1080px;
  }
}

/* navbar */
.transparent-nav {
  background: var(--bs-gray-100);
  position: fixed;
  z-index: 10;
  width: 100%;
  /* box-shadow: var(--bs-box-shadow); */
}

.navbar {
  position: relative;
  width: 100%;
  height: 90px;
  font-family: Poppins;
}

.nav_container {
  display: flex;
  justify-content: space-between;
}

.hamburger {
  display: none;
}

.nav_img_right {
  display: none;
}

.navbar_link {
  display: flex;
  align-items: center;
}

.navbar_link ul {
  display: flex;
}

.navbar_link ul li {
  margin-right: 40px;
  transition: 0.5s;
}

.navbar_link ul li:hover {
  transform: translateY(-5px);
}

.navbar_link ul li a {
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  color: rgb(116, 81, 15);
}

.navbar_link ul .navbar_link_btn_active {
  background-color: var(--bs-gray-300);
  padding: 7px;
  border-radius: var(--bs-border-radius-pill);
}

.navbar_kecil {
  display: flex;
  align-items: center;
}

.navbar_kecil ul {
  display: flex;
  align-items: center;
}

.navbar_kecil ul li {
  margin-left: 3px;
  color: rgb(116, 81, 15);
}

.navbar_link_icon li a {
  color: rgb(116, 81, 15);
}

/* nav bawah -------------------------------*/

.dropdown_nav {
  /* border-top: 1px black solid; */
  display: none;
}

.navbar_link_dropdown {
  background-color: var(--bs-gray-100);
}

.navbar_link_dropdown ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar_link_dropdown ul li {
  margin: 10px 20px;
}

.navbar_link_dropdown ul li a {
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  color: rgb(116, 81, 15);
}

.navbar_link_dropdown ul li {
  margin-right: 40px;
  transition: 0.5s;
}

.navbar_link_dropdown ul li:hover {
  transform: translateY(-3px);
  border-radius: var(--bs-border-radius);
}

.navbar_link_dropdown ul li .navbar_link_dropdown_active {
  background-color: var(--bs-gray-300);
  padding: 5px;
  border-radius: var(--bs-border-radius);
}

.nav_dropdown_wrap {
  display: flex;
  align-items: center;
}
/* end of nav bawah ---------------------*/

/* sidebar kiri */

.backround_fade_sidebar_active {
  position: fixed;
  z-index: 11;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  height: 100%;
  width: 100%;
  transition: ease 0.5s;
  display: none;
}

.sidebar_kiri {
  position: relative;
  display: none;
}

.wrapper_sidebar_kiri {
  position: fixed;
  z-index: 12;
  top: 0;
  left: 0;
  width: 280px;
  height: 100%;
  /* overflow-x: hidden; */
  transition: 0.5s;
  background-color: var(--bs-light);
  box-shadow: var(--bs-box-shadow);
  transform: translateX(-280px);
}

.sidebar_kiri_active {
  transform: translateX(0px);
}

.close {
  position: absolute;
  right: 0;
  margin: 15px 20px 0px 0px;
}

.closebtnkiri {
  border-radius: 50%;
  padding: 0.5em;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: 2px solid rgb(116, 81, 15);
  /* color: rgb(116, 81, 15); */
  background-color: rgb(116, 81, 15);
  position: relative;
}

/* .closebtnkiri:hover {
  border: 2px solid rgb(255, 0, 0);
  background-color: yellow;
  color: #ffffff;
} */

.closebtnkiri::before {
  content: " ";
  position: absolute;
  display: block;
  background-color: rgb(255, 255, 255);
  width: 2px;
  left: 12px;
  top: 5px;
  bottom: 5px;
  transform: rotate(45deg);
}

.closebtnkiri::after {
  content: " ";
  position: absolute;
  display: block;
  background-color: rgb(255, 255, 255);
  height: 2px;
  top: 12px;
  left: 5px;
  right: 5px;
  transform: rotate(45deg);
}

.wrapper_sidebar_kiri ul {
  display: flex;
  flex-direction: column;
}

.sidebar_kiri img {
  display: flex;
  justify-content: center;
  margin: 40px 0px 15px 90px;
  /* transform: translateX(0px); */
}

.wrapper_sidebar_kiri ul .sidebar_icon li {
  display: flex;
  align-items: center;
  transition: 0.5s;
  margin-left: 10px;
}

.wrapper_sidebar_kiri ul .sidebar_icon span {
  font-size: 30px;
}

.wrapper_sidebar_kiri ul .sidebar_icon li a {
  font-size: 15px;
  margin-top: 6px;
  font-weight: 600;
  text-decoration: none;
  color: rgb(116, 81, 15);
}

.wrapper_sidebar_kiri ul .sidebar_icon li:hover {
  transform: translateY(-3px);
  border-radius: var(--bs-border-radius);
}

.wrapper_sidebar_kiri ul .sidebar_icon li .sidebar_kiri_link_active {
  background-color: var(--bs-gray-300);
  padding: 5px;
  border-radius: var(--bs-border-radius);
}

.sidebar_icon {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  margin-left: 20px;
}

.sidebar_icon:nth-child(1) {
  margin-top: 10px;
}
/* end of sidebar kiri -------------------*/

/* footer */

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 0px;
  background-color: #25d366;
  color: #fff;
  border-radius: 10px 0px 0px 10px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.my-float {
  margin-top: 16px;
}

.full_screen_footer {
  background-color: var(--bs-gray-100);
  height: 100%;
}

.container_footer {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.top_footer {
  width: 560px;
  height: 300px;
  border-right: dashed;
  border-width: 2px;
  border-color: rgb(116, 81, 15);
}
.title_footer {
  font-size: 34px;
  font-family: Playwrite DE SAS;
  color: #c99e00;
  margin: 15px 0px 0px 90px;
}
.alamat_footer {
  color: rgb(116, 81, 15);
  display: flex;
  align-items: center;
  margin-top: 35px;
}
.alamat_footer span {
  font-size: 28px;
}
.alamat_footer p {
  font-size: 14px;
  font-family: Poppins;
  font-weight: 2300;
  width: 400px;
  margin-left: 5px;
}
.email_footer {
  color: rgb(116, 81, 15);
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.email_footer span {
  font-size: 28px;
}
.email_footer p {
  font-size: 14px;
  font-family: Poppins;
  font-weight: 2300;
  margin-left: 5px;
}
.call_footer {
  color: rgb(116, 81, 15);
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.call_footer span {
  font-size: 28px;
}
.call_footer p {
  font-size: 14px;
  font-family: Poppins;
  font-weight: 2300;
  margin-left: 5px;
}
.sosmed_footer {
  display: flex;
}
.sosmed_footer a {
  margin-right: 10px;
  margin-top: 15px;
  text-decoration: none;
}
.sosmed_footer a i {
  font-size: 40px;
}
.sosmed_footer a img {
  width: 50px;
}
.bxl-facebook-circle {
  color: #1f7bf2;
}
.bxl-tiktok {
  color: #fff;
  font-size: 36em;
  text-shadow: 3px 1px #ff3353fc, 1px -2px cyan;
}

.middle_footer {
  width: 560px;
  display: flex;
  justify-content: space-between;
  font-family: poppins;
}
.navigasi_middle_footer {
  /* margin: 70px 50px 0px 10px; */
  margin-top: 70px;
}
.navigasi_middle_footer li {
  margin-bottom: 20px;
}
.navigasi_middle_footer li a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  color: rgb(116, 81, 15);
}
.navigasi_middle_footer li h1 {
  font-size: 16px;
  font-weight: 600;
  color: rgb(116, 81, 15);
}
.navigasi_middle_footer li a:hover {
  border-bottom: 1px rgb(7, 6, 5) solid;
}
.policy_middle_footer {
  margin-top: 70px;
  /* margin-right: 15px; */
}
.policy_middle_footer li {
  margin-bottom: 20px;
}
.policy_middle_footer li a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  color: rgb(116, 81, 15);
}
.policy_middle_footer li h1 {
  font-size: 16px;
  font-weight: 600;
  color: rgb(116, 81, 15);
}
.policy_middle_footer li a:hover {
  border-bottom: 1px rgb(116, 81, 15) solid;
}

.bottom_footer {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: poppins;
  font-size: 12px;
  font-weight: 300;
  border-top: 2px rgb(116, 81, 15) dashed;
}

.jam_buka_footer {
  margin-top: 70px;
}

.jam_buka_footer table {
  width: 100%;
  border-collapse: collapse;
  font-family: Poppins;
  color: rgb(116, 81, 15);
}

.jam_buka_footer table,
.jam_buka_footer th,
.jam_buka_footer td {
  border: 1px solid rgb(116, 81, 15);
}

.jam_buka_footer th{
  font-weight: 600;
}

.jam_buka_footer th,
.jam_buka_footer td {
  padding: 10px;
  text-align: left;
  font-size: 14px;
}

.jam_buka_footer th {
  background-color: var(--bs-gray-100);
}

.jam_buka_footer td {
  background-color: #f9f9f9;
}

/* end of footer */

@media screen and (max-width: 1200px) {
  .nav_img_left {
   margin-left: 10px;
  }
  .navbar_kecil {
    margin-right: 10px;
  }
}

@media screen and (max-width: 992px) {
  /* navbar */
  .dropdown_nav {
    display: block;
    height: 35px;
  }
  .navbar-header i {
    display: block;
  }
  .navbar_link {
    display: none;
  }
  .nav_img_left {
    display: none;
  }
  .nav_img_right {
    display: block;

  }
  .hamburger {
    display: block;
    display: flex;
    align-items: center;
    margin-left: 10px;
  }
  .hamburger button {
    border: none;
    background-color: #f8f9fa;
    width: 24px;
    height: 24px;
  }
  .hamburger button span {
    color: rgb(116, 81, 15);
    width: 24px;
    font-size: 24px;
    font-weight: 600;
    cursor: pointer;
  }
  .search {
    display: none;
  }
  .search_bawah {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .search_bawah input {
    width: 400px;
    height: 25px;
    padding-left: 5px;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 15px;
    color: rgb(116, 81, 15);
  }
  .search_bawah button {
    height: 27px;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-left: -6px;
    font-size: 14px;
    color: rgb(116, 81, 15);
  }
  .navbar_link_icon {
    margin-right: 10px;
  }
  /* end of navabar----------- */
  /* sidebar */
  .sidebar_kiri {
    display: block;
  }
  .backround_fade_sidebar_active {
    display: block;
  }
  /* end of sidebar---------- */
  /* footer */
  .container_footer {
    display: flex;
  }

  .title_footer {
    margin: 15px 0px 0px 0px;
  }
  .alamat_footer p {
    width: 300px;
  }
  .navigasi_middle_footer li a {
    font-size: 14px;
  }
  .policy_middle_footer li a {
    font-size: 14px;
  }
  /* end of footer------------ */
}

@media screen and (max-width: 768px) {
  /* footer */
  .container_footer {
    display: flex;
    flex-direction: column;
  }

  .title_footer {
    margin-top: 15px;
  }
  .alamat_footer p {
    width: 500px;
  }
  .top_footer {
    width: 100%;
    border-right: none;
    border-bottom: 2px rgb(116, 81, 15) dashed;
  }

  .middle_footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 5px;
  }
  .policy_middle_footer {
    margin-top: 10px;
  }
  .bottom_footer {
    font-size: 14px;
  }
  .navigasi_middle_footer {
    margin-top: 10px;
  }

  .jam_buka_footer {
    margin-top: 10px;
  }

  .jam_buka_footer table,
  .jam_buka_footer th,
  .jam_buka_footer td {
    font-size: 14px;
  }
  /* end of footer------------ */
}

@media screen and (max-width: 576px) {
  .search_bawah input {
    width: 300px;
  }
}
