@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-black: #000;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 13, 110, 253;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-primary-text-emphasis: #052c65;
  --bs-secondary-text-emphasis: #2b2f32;
  --bs-success-text-emphasis: #0a3622;
  --bs-info-text-emphasis: #055160;
  --bs-warning-text-emphasis: #664d03;
  --bs-danger-text-emphasis: #58151c;
  --bs-light-text-emphasis: #495057;
  --bs-dark-text-emphasis: #495057;
  --bs-primary-bg-subtle: #cfe2ff;
  --bs-secondary-bg-subtle: #e2e3e5;
  --bs-success-bg-subtle: #d1e7dd;
  --bs-info-bg-subtle: #cff4fc;
  --bs-warning-bg-subtle: #fff3cd;
  --bs-danger-bg-subtle: #f8d7da;
  --bs-light-bg-subtle: #fcfcfd;
  --bs-dark-bg-subtle: #ced4da;
  --bs-primary-border-subtle: #9ec5fe;
  --bs-secondary-border-subtle: #c4c8cb;
  --bs-success-border-subtle: #a3cfbb;
  --bs-info-border-subtle: #9eeaf9;
  --bs-warning-border-subtle: #ffe69c;
  --bs-danger-border-subtle: #f1aeb5;
  --bs-light-border-subtle: #e9ecef;
  --bs-dark-border-subtle: #adb5bd;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg: #fff;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-emphasis-color: #000;
  --bs-emphasis-color-rgb: 0, 0, 0;
  --bs-secondary-color: rgba(33, 37, 41, 0.75);
  --bs-secondary-color-rgb: 33, 37, 41;
  --bs-secondary-bg: #e9ecef;
  --bs-secondary-bg-rgb: 233, 236, 239;
  --bs-tertiary-color: rgba(33, 37, 41, 0.5);
  --bs-tertiary-color-rgb: 33, 37, 41;
  --bs-tertiary-bg: #f8f9fa;
  --bs-tertiary-bg-rgb: 248, 249, 250;
  --bs-heading-color: inherit;
  --bs-link-color: #0d6efd;
  --bs-link-color-rgb: 13, 110, 253;
  --bs-link-decoration: underline;
  --bs-link-hover-color: #0a58ca;
  --bs-link-hover-color-rgb: 10, 88, 202;
  --bs-code-color: #d63384;
  --bs-highlight-color: #212529;
  --bs-highlight-bg: #fff3cd;
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-border-color: #dee2e6;
  --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
  --bs-border-radius: 0.375rem;
  --bs-border-radius-sm: 0.25rem;
  --bs-border-radius-lg: 0.5rem;
  --bs-border-radius-xl: 1rem;
  --bs-border-radius-xxl: 2rem;
  --bs-border-radius-2xl: var(--bs-border-radius-xxl);
  --bs-border-radius-pill: 50rem;
  --bs-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  --bs-box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  --bs-box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  --bs-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  --bs-focus-ring-width: 0.25rem;
  --bs-focus-ring-opacity: 0.25;
  --bs-focus-ring-color: rgba(13, 110, 253, 0.25);
  --bs-form-valid-color: #198754;
  --bs-form-valid-border-color: #198754;
  --bs-form-invalid-color: #dc3545;
  --bs-form-invalid-border-color: #dc3545;
}

::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
}
/* --------------------------------- */

.wrapper {
  display: flex;
  flex-direction: column;
}

.side-bar {
  display: flex;
}

.main1 {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
  min-width: 0;
}

.sidebar {
  width: 70px;
  height: 100vh;
  min-width: 70px;
  margin-top: 64px;
  transition: all 0.2s ease-in-out;
  background-color: var(--bs-primary-text-emphasis);
  display: flex;
  flex-direction: column;
}

.sidebar.expand {
  width: 260px;
  min-width: 260px;
}

.sidebar_transparent {
  width: 70px;
  height: 100vh;
  min-width: 70px;
  transition: all 0.2s ease-in-out;
  background-color: var(--bs-primary-text-emphasis);
  display: flex;
  flex-direction: column;
}

.sidebar_transparent.expand {
  width: 260px;
  min-width: 260px;
}

.sidebar_layarkecil {
  width: 70px;
  height: 100vh;
  min-width: 70px;
  transition: all 0.2s ease-in-out;
  background-color: var(--bs-primary-text-emphasis);
  display: flex;
  flex-direction: column;
  display: none;
}

#toggle-btn {
  background-color: transparent;
  cursor: pointer;
  border: 0;
  padding: 10px;
}

#toggle-btn i {
  font-size: 24px;
  margin-left: 15px;
  color: #fff;
}

.sidebar-logo {
  margin: 10px 0px 0px 5px;
}

.sidebar-logo h1 {
  color: #fff;
  font-size: 20px;
}

.sidebar-item .spin {
  margin-left: 10px;
}

.sidebar:not(.expand) .sidebar-logo,
.sidebar:not(.expand) .sidebar-link .spin {
  display: none;
}

.sidebar.expand .sidebar-logo,
.sidebar.expand .sidebar-link .spin {
  animation: fadeIn 0.25s ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.sidebar-nav {
  padding: 32px 0;
  flex: 1 1 auto;
}

.sidebar-link {
  padding: 10px 26px;
  color: #fff;
  display: block;
  font-size: 14px;
  white-space: nowrap;
  text-decoration: none;
  border-left: 3px solid transparent;
}

.sidebar-link .gambar {
  font-size: 20px;
}

.sidebar-link:hover {
  transition: all 0.5s ease;
  background-color: var(--bs-gray-200);
  border-left: 3px solid var(--bs-dark);
  color: var(--bs-dark);
}

.sideber-item {
  position: relative;
}

.sideber-footer {
  position: relative;
}

/* #sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
  position: absolute;
  top: 0;
  left: 70px;
  background-color: #0e2238;
  padding: 0;
  min-width: 240px;
  display: none;
} */

/* #sidebar:not(.expand) .sidebar-item:hover {
  display: block;
  max-height: 240px;
  width: 100%;
  opacity: 1;
} */

/* .sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
  border: solid;
  border-width: 0 1.2px 1.2px 0;
  content: "";
  display: inline-block;
  padding: 2px;
  position: absolute;
  right: 24px;
  top: 22.4;
  transform: rotate(-135deg);
  transition: all 0.2s ease-out;
}

.sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
  transform: rotate(45deg);
  transition: all 0.2s ease-out;
} */

/* --------------------------------- */

.navbar {
  background-color: #f5f5f5;
  box-shadow: var(--bs-box-shadow);
}

.navbar-expand .navbar-collapse {
  min-width: 200px;
}

.avatar {
  height: 40px;
  width: 40px;
}

.logout button:active{
  color: white;
}

/* @media (max-width: 576px) {
} */
/* @media (max-width: 768px) {
} */
@media (max-width: 992px) {
  .sidebar_transparent {
    display: none;
  }
  .sidebar_layarkecil {
    display: block;
  }
}

/* @media (max-width: 1200px) {
} */
